@model HomeDetailsViewModel

@{
    ViewBag.Title = Model.Product.ProductName;
}
<form method="post" class="mt-3">
    <div class="row justify-content-center m-3">
        <div class="col-sm-8">
            <div class="card">
                <div class="card-header">
                    <h1>@Model.Product.ProductName @if (Model.Product.ProductModel != null)@Model.Product.ProductModel</h1>
                </div>

                <div class="card-body text-center">
                    <h4>Name: @Model.Product.ProductName @if (Model.Product.ProductModel != null)@Model.Product.ProductModel</h4>
                    <h4>Developer: @Model.Manufacturer</h4>
                    @if (Model.Publisher != null)
                    {
                        <h4>Publisher: @Model.Publisher</h4>
                    }
                    else
                    {
                        <h4>Publisher: @Model.Manufacturer</h4>
                    }
                    <h5>@Model.Product.Cost €</h5>
                </div>
                @if(Model.Product.ProductDescription != null)
                {
                    <div class="card-body text-center border border-dark rounded-bottom">
                        <p>
                            @Model.Product.ProductDescription
                        </p>
                    </div>
                }
                @if (Context.Session.GetString("username") != null && Context.Session.GetString("username") != "")
                {
                    <div class="card-footer text-center">
                        <input asp-for="ProductId" value="@Model.Product.ProductId" hidden class="form-control">
                        <button type="submit" class="btn btn-primary">Cart</button>
                    </div>
                }
            </div>
        </div>
    </div>
</form>

@section Scripts {
    <script src="~/js/CustomScript.js"></script>
}